<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>add Movie</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h2>addMovie</h2>
<form action="#" th:action="@{/addMovie}" th:object="${movie}" method="post">
    <div>
        <label for="title">title:</label>
        <input type="text" id="title" name="title" th:field="*{title}" required>
    </div>
    <div>
        <label for="posterURL">URL of movie poster:</label>
        <input type="posterURL" id="posterURL" name="posterURL" th:field="*{posterURL}" required>
    </div>
    <div>
        <label for="description">description:</label>
        <input type="description" id="description" name="description" th:field="*{description}" required>
    </div>
    <div>
        <label for="duration">duration:</label>
        <input type="duration" id="duration" name="duration" th:field="*{duration}" required>
    </div>
    <div>
        <button type="submit">+</button>
    </div>
</form>
<div th:if="${param.success}">
    <p>succesfully added a movie</p>
</div>
</body>
</html>
