<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Reserve Seat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
        .seat {
            width: 30px;
            height: 30px;
            margin: 5px;
            display: inline-block;
        }
        .available {
            background-color: green;
        }
        .reserved {
            background-color: red;
        }
    </style>
</head>
<body>
<div class="container">
  <h2 th:text="${screening.movie.title}">Movie Title</h2>
  <p th:text="${#temporals.format(screening.screeningTime, 'yyyy-MM-dd HH:mm')}">Screening Time</p>
  <form th:action="@{/reserve}" method="post">
    <input type="hidden" name="screeningId" th:value="${screening.id}"/>
    <input type="hidden" name="movieTitle" th:value="${screening.movie.title}"/>
    <input type="hidden" name="screeningTime" th:value="${#temporals.format(screening.screeningTime, 'yyyy-MM-dd HH:mm')}"/>
    <div th:each="seat, iterStat : ${screening.seats}">
      <label>
        <input type="checkbox" th:name="seats" th:value="${iterStat.index}" th:checked="${seat}" th:disabled="${seat}"/>
        <span th:classappend="${seat} ? 'reserved' : 'available'" th:text="${iterStat.index + 1}"></span>
      </label>
      <br th:if="${iterStat.index % 5 == 4}" />
    </div>
    <button type="submit" class="btn btn-primary">Reserve</button>
  </form>
</div>
</body>
</html>
