<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Reserve Seat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
        .seat {
            width: 30px;
            height: 30px;
            margin: 5px;
            display: inline-block;
        }
        .available {
            background-color: green;
        }
        .reserved {
            background-color: red;
        }
    </style>
</head>
<body>
<div class="container">
  <h2 th:text="${screening.movie.title}">Movie Title</h2>
  <p th:text="${#temporals.format(screening.screeningTime, 'yyyy-MM-dd HH:mm')}">Screening Time</p>
  <div>
    <div th:each="seat, iterStat : ${screening.seats}">
      <div th:classappend="${seat} ? 'reserved' : 'available'"
           th:text="${iterStat.index + 1}"></div>
      <br th:if="${iterStat.index % 5 == 4}" />
    </div>
  </div>
</div>
</body>
</html>
