<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Screenings</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Screenings for <span th:text="${selectedDate}"></span></h2>
  <form method="get" th:action="@{/screenings}">
    <div class="form-group">
      <label for="date">Choose a date:</label>
      <input type="date" id="date" name="date" class="form-control" th:value="${selectedDate}">
    </div>
    <button type="submit" class="btn btn-primary">Show Screenings</button>
  </form>
  <div th:if="${screenings.empty}">
    <p>Przepraszamy, kino w tym dniu nie czynne</p>
  </div>
  <div th:if="${!screenings.empty}">
    <table class="table">
      <thead>
      <tr>
        <th>Movie</th>
        <th>Screening Time</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="screening : ${screenings}">
        <td th:text="${screening.movie.title}">Movie Title</td>
        <td th:text="${screening.screeningTime}">Screening Time</td>
        <td>
          <a th:href="@{/reserve/{id}(id=${screening.id})}" class="btn btn-primary">Reserve</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
